.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(200, 65%, 91%);
    padding: 1rem .5rem;
    color: white;
}

.main-title {
    font-size: 1.5rem;
}

.link-container {
    display: flex;
}

.links {
    font-size: .9rem;
    margin-right: .7rem;
}

.active {
    font-weight: bold;
}

@media screen and (min-width: 480px) {
    .main-title {
        padding: 0 1rem;
    }
}

@media screen and (min-width: 768px) {
    .main-title {
        font-size: 2rem;
    }
    .links {
        font-size: 1.2rem;
        margin-right: 1rem;
    }
}