<article class="container">
    <h2 class="title">Busquedas recientes:</h2>
    <ul class="list-history" #links>
        <li *ngFor="let busqueda of historial; let i = index" [ngClass]="{'list-item': true, 'desde-abajo': true}">
            <div class="info" (click)="irABusqueda(busqueda.termino)">
                <p class="history-text">{{busqueda.termino}}</p>
                <span class="history-date">{{busqueda.fecha | date:'short'}}</span>
            </div>
            <span class="history-delete" (click)="deleteBusqueda(busqueda.id, i)">X</span>
        </li>
    </ul>
</article>